/*color pallete
#F9E830 (yellow)
#FFFFFF (White)
#26D986 (green)
#ff0057 (Red)
#6600FF (Purple)
*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  outline: 0;
  cursor: pointer;
}

a:hover {
  color: #f9e830;
  transition: 500ms ease all;
}

a:active {
  color: rgb(244, 13, 21);
}

body {
  backdrop-filter: blur(20px);
  line-height: 1.4;
  min-height: 100vh;
  margin: 1rem;
  text-align: center;
  align-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px;
}

h1 {
  font-size: 50px;
  color: #6600ff;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 15px;
}

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-basis: auto;
  /* box-shadow: 0 4px 8px rgb(10 22 70 / 15%); */
  margin: 25px;
  padding: 10px;
}

.column {
  display: flex;
  /* box-shadow: 0 4px 8px rgb(10 22 70 / 15%); */
  margin: auto;
  flex-direction: column;
  align-self: auto;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  /* background-color: rgb(121, 121, 152); */
}

.double-column {
  display: flex;
  padding: 10px;
  align-self: auto;
  flex-direction: column;
  padding: 10px;
  /* background: #6600ff; */
  height: 300px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-self: auto;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  gap: 30px;
  justify-content: space-evenly;
}

#single-place {
  background-color: white;
}

.navLink {
  display: inline-block;
  /* height: auto; */
  /* flex-basis: auto; */
  background: #6600ff;
  color: white;
  box-shadow: 0 4px 8px rgb(10 22 70 / 15%);
  padding: 12px;
  margin: 0 6px 6px 10px;
  border-radius: 10px;
  width: 125px;
  font-weight: 700;
  font-size: 1rem;
}

.navBar {
  display: flex;
  list-style-type: none;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  /* flex: 1; */
  /* row-gap: 10px; */
  flex-direction: row;
  /* align-content: center; */
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 10px;
  transition: 500ms ease all;
}

/*  */

input[type="text"],
input[type="password"] {
  height: 25px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  display: inline-block;
  background: #6600ff;
  color: white;
  box-shadow: 0 4px 8px rgb(10 22 70 / 15%);
  margin: 0 6px 6px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.346);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  transition: 500ms ease all;
}

/* .button-container {
  display: flex;
  justify-content: center;
} */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  display: inline-block;
  background: #6600ff;
  color: white;
  box-shadow: 0 4px 8px rgb(10 22 70 / 15%);
  margin: 0 6px 6px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.medium-button {
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #6600ff;
}

.large-button {
  font-weight: 700;
  font-size: 2rem;
  background-color: rgb(244, 13, 21);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.346);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  transition: 500ms ease all;
}

.list-container {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 75px;
  height: 1px;
}

#mapContainer {
  display: flex;
  width: 70%;
  position: absolute;
  /* opacity: 60%; */
}

footer {
  position: fixed;
  /* left: 0; */
  display: flex;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background-color: #6600ff;
  color: white;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  color: white;
}

header {
  background-color: white;
  width: 100%;
  align-items: center;
}
/* 
img {
  display: block;
  max-width: 50%;
  height: auto;
} */

.go-place-list {
  color: red;
}

div {
  display: block;
  margin: auto;
  max-width: 100%;
}

.single-comment {
  font-style: italic;
}

.single-hunt {
  font-weight: 700;
  cursor: pointer;
}

.single-hunt:hover {
  cursor: pointer;
  color: #6600ff;
  transition: 500ms ease all;
}

.main-container {
  margin: 0;
  background-image: url(./assets/Map.png);
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.home {
  position: relative;
  opacity: 100%;
  backdrop-filter: blur(20px);
  background: white;
  padding: 15px;
  align-content: center;
  border-radius: 10px;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0 4px 8px rgb(10 22 70 / 15%);

  /* elliots shitty css */
  margin-bottom: 32rem;
}

#go-selector {
  position: absolute;
  top: -30%;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }
}

.pop {
  display: flex;
  position: absolute;
  top: 10%;
}

.go-selected-place-descrip {
  color: blue;
}

.comment-text {
  font-size: 1.1rem;
  color:rgba(22, 41, 62, 0.3)
}

.go-page {
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: 10rem 10rem;
}