@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(12, 1, 12);
}

body {
  backdrop-filter: blur(20px);
  line-height: 1.4;
  min-height: 150vh;
  margin: 1rem;
  text-align: center;
  align-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin-top: 100px;
}

p {
  font-size: 15px;
  width: 40%;
  margin-left: 30%;

}

.navLink {
  height: auto;
  text-decoration: none;
  background: #6600ff;
  color: white;
  box-shadow: 0 4px 8px rgb(10 22 70 / 15%);
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
}

.navlink :hover {
  color: green;
}

.navBar {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 1px;
  cursor: pointer;
  font-size: 20px;
  background: #6600ff;
  color: white;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  /* background: #080908; */
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 45px;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 75px;
  height: 1px;
}


#mapContainer {
  width: 70%;
}

.single-hunt {
  position: relative;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 3rem;
  scale: .95;
  border-style: solid;
  border-radius: .3rem;
  border-width: .1rem;
  width: fit-content;
  white-space: nowrap;
}

.single-hunt:hover {
  color: rgb(99, 158, 99);
  text-shadow: 0 0 10px rgb(74, 174, 121);
  scale: 1;
}

#choose-quest {
  font-size: 3rem;
}