@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  min-height: 100vh;
  background: linear-gradient(#6750A4, #e6dcdc);
  margin: 1rem;
  font-family:'Poppins',
    sans-serif;
  text-align: center;
  align-content: center;
  align-items: center;
  color: white;
}

header h1 {
  margin: 20px;
  font-size: 50px;
  font-weight: 1000;
}

.navBar {
  padding: 12px;
  text-decoration: none;
  background: #21005D;
  color: white;
  margin: 25px;
  box-shadow: 0 4px 8px rgb(10 22 70 / 15%);
  border-radius: 20px;
}